@{
    ViewData["Title"] = "Cadastro";
}


<div class="container">
    <h2 class="cadastro">CADASTRO</h2>
    <div class="form-container">
        <form asp-action="Cadastro" method="post">

            <div class="form-group">
                <label for="fullName">Informe seu nome completo:</label>
                <input type="text" id="fullName" name="fullName" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="email">Informe seu email:</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="password">Digite uma senha de 8 dígitos:</label>
                <input type="password" id="password" name="password" class="form-control" minlength="8" required>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirme a senha:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" minlength="8" required>
            </div>

            <div class="form-group">
                <label for="idade">Informe sua idade:</label>
                <input type="number" id="idade" name="idade" class="form-control" min="0" required>
            </div>

            <div class="form-group">
                <label for="sexo">Selecione seu sexo:</label>
                <select id="sexo" name="sexo" class="form-control" required>
                    <option value="escolha">Escolha</option>
                    <option value="masculino">Masculino</option>
                    <option value="feminino">Feminino</option>
                </select>
            </div>

            <div class="form-group">
                <label for="injury">Você já teve alguma lesão anteriormente?</label>
                <select id="injury" name="injury" required>
                    <option value="escolha">Escolha</option>
                    <option value="sim">Sim</option>
                    <option value="não">Não</option>
                </select>
            </div>




            <div class="form-group d-none" id="injuryDescription">
                <label for="injuryDetails">Descreva:</label>
                <textarea id="injuryDetails" name="injuryDetails" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label for="conte">Nos conte um pouco sobre o seu objetivo na academia:</label>
                <textarea id="conte" name="conte" class="form-control" required></textarea>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>$(document).ready(function () {
            $('#injury').change(function () {
                if ($(this).val() === 'sim') {
                    $('#injuryDescription').removeClass('d-none');
                } else {
                    $('#injuryDescription').addClass('d-none');
                }
            });


            $('#confirmPassword').blur(function () {
                var password = $('#password').val();
                var confirmPassword = $('#confirmPassword').val();
                if (password !== confirmPassword) {
                    $('#confirmPassword')[0].setCustomValidity('As senhas não correspondem.');
                } else {
                    $('#confirmPassword')[0].setCustomValidity('');
                }
            });
        });</script>
}




