
﻿@{
    ViewData["Title"] = "Contato";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        #successMessage {
            display: none;
            color: green;
            margin-top: 10px;
            font-weight: bold;
        }
    </style>
</head>
<body class="Contato">
    
﻿<main aria-labelledby="title">
    <section>
        <div class="cont">
            <h2 class="talk">Fale Conosco</h2>
            <p class="intro">Estamos aqui para responder a quaisquer perguntas que você possa ter sobre a SnatFit. Preencha o formulário abaixo e entraremos em contato o mais rápido possível.</p>
            <br>
            <form id="contactForm" action="@Url.Action("Contato", "Home")" method="post" class="form">
                    <label for="nome" class="form">Nome:</label>
                    <input type="nome" id="nome" name="nome" required>

                    <label for="email" class="form">Email:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="mensagem" class="form">Mensagem:</label>
                    <textarea id="mensagem" name="mensagem" required></textarea>
                    >>>>>>> amigo-branch

                    <div>
                        <button type="submit">Enviar Mensagem</button>
                    </div>
                </form>

                <div id="successMessage">Mensagem enviada com sucesso!</div>
        </div>
    </section>
<<<<<<< HEAD

    @section Scripts {
        <script>
            $(document).ready(function() {
                $('#contactForm').submit(function(event) {
                    event.preventDefault(); 
                    $('#successMessage').fadeIn(); 
                    setTimeout(function() {
                        $('#successMessage').fadeOut(); 
                    }, 3000);
                });
            });
        </script>
    }
</body>
</html>
=======
</main>
>>>>>>> amigo-branch
