@{
    ViewData["Title"] = "Contato";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        #successMessage {
            display: none;
            color: green;
            margin-top: 10px;
            font-weight: bold;
        }
    </style>
</head>
<body class="Contato">
    <section>
        <div class="container">
            <h2 class="talk">Fale Conosco</h2>
            <p class="intro">Estamos aqui para responder a quaisquer perguntas que você possa ter sobre a SnatFit. Preencha o formulário abaixo e entraremos em contato o mais rápido possível.</p>
            <form id="contactForm" action="@Url.Action("Contato", "Home")" method="post">
                <div>
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" required>
                </div>

                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>

                <div>
                    <label for="mensagem">Mensagem:</label>
                    <textarea id="mensagem" name="mensagem" required></textarea>
                </div>

                <div>
                    <button type="submit">Enviar Mensagem</button>
                </div>
            </form>

            <div id="successMessage">Mensagem enviada com sucesso!</div>
        </div>
    </section>

    @section Scripts {
        <script>
            $(document).ready(function() {
                $('#contactForm').submit(function(event) {
                    event.preventDefault(); 
                    $('#successMessage').fadeIn(); 
                    setTimeout(function() {
                        $('#successMessage').fadeOut(); 
                    }, 3000);
                });
            });
        </script>
    }
</body>
</html>
