html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/* css padrão todas as pgs*/


.separator {
    height: 5px;
    background-color: rgba(252, 122, 0, 0.925);
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 4px;
    width: 100%;
}


/*inicio css index:*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#000000;
}

header {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

nav {
    background-color: rgba(252, 122, 0, 0.925);
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #000000;
}

section {
    color: #000000;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.feature {
    text-align: center;
    margin-bottom: 30px;
}

.feature img {
    max-width: 100%;
}
.feature h2 {
    background-color: rgba(252, 122, 0, 0.925);
    margin-top: 10px;
}

.feature h3 {
    background-color: rgba(252, 122, 0, 0.925);
}

.feature p{
    color: #fff;
}

button{
    border-radius: 5px;
    background-color: rgba(252, 122, 0, 0.925);
    padding: 10px 20px;
}
    
.tit 
{     
    text-align: center;
    margin-bottom: 20px;
    color: rgba(252, 122, 0, 0.925);
    text-decoration: underline;
}
    
.tit img 
{
 max-width: 80%;
}

.frase{
    color:white;
}

.split {
    display: flex;
    justify-content: space-between;
}


.split .feature {
    width: calc(50% - 15px);
}


/*fim css index*/


/*inicio css sobre*/


.about {
    padding: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.cor{
color: rgba(252, 122, 0, 0.925);
}

/*fim css sobre*/

/*inicio css contato*/

section .contato{
    padding: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white; /* Alterado para branco */
}

.contato input[type="text"],
.contato input[type="email"],
.contato textarea {
    color: white;
}

form button {
    background-color: #FFA500;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #FFD700;
}

nav a .contato {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contato .intro {
    color: white;
}

.contato .talk{
    text-decoration: underline;
    color: white;
}



/*fim css contato*/

/*inicio css login*/

.login form {
    max-width: 300px;
    margin: 0 auto;
}

.login input[type="email"],
.login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login button {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login button:hover {
    background-color: black;
}

.login .input-field {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    background-color: #f5f5f5;
    font-size: 16px;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.login .input-field:focus {
    background-color: #fff;
    color: #555;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.login .input-field::placeholder {
    color: #888;
}

.login button[type="submit"] {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 6px;
    background-color: #ff4500;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login button[type="submit"]:hover {
    background-color: #ff6a36;
}

/*fim csss login*/